# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-7prvp.centralindia.azure.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=RN3RI55K3PS27BTA
sasl.password=5/JDbsQSWJFggK/I2PM1GNLn1NGr+xwNMLFaPn6rSCqDezZGrQRzrfyBGqNItGph

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000